#ludo_board td{width:30px; height:30px; border: solid black 1px; text-align:center;}

#ludo_board{border-collapse: collapse;}

td.W_square{background-color: white;}
td.R_square {background-color: red;}
td.G_square {background-color:greenyellow;}
td.B_square{background-color: blue;}
td.Y_square{background-color: yellow;}

TD.pmove {border:3px solid blue; background-color:yellow;}
TD.tomove {border:3px solid blue; background-color:blue;}
 
#ludo_board td.R_square.highlight {
   background-color: yellow;
   border: 1px solid red;
   /* Add any other styling as needed */
}
#ludo_board td.G_square.highlight {
   background-color: yellow;
   border: 1px solid red;
   /* Add any other styling as needed */
}
#ludo_board td.B_square.highlight {
   background-color: yellow;
   border: 1px solid red;
   /* Add any other styling as needed */
}
#ludo_board td.Y_square.highlight {
   background-color: yellow;
   border: 1px solid red;
   /* Add any other styling as needed */
}
#ludo_board td.W_square.highlight {
   background-color: yellow;
   border: 1px solid red;
   /* Add any other styling as needed */
}

 
 .clickableR {
   cursor: pointer;
   border: 2px solid #00f; /* Add your preferred border styling */
   background-color: #e0e0e0; /* Add your preferred background color */
  
}

 .clickableR:hover {
   background-color: #c0c0c0; /* Change background color on hover */
   
}
.clickableY {
   cursor: pointer;
   border: 2px solid #00f; /* Add your preferred border styling */
   background-color: #e0e0e0; /* Add your preferred background color */
  
}

 .clickableY:hover {
   background-color: #c0c0c0; /* Change background color on hover */
   
}

 td.GR_square{background:linear-gradient(to bottom left, red 50%, greenyellow 50%);  } 
 td.BR_square{background:linear-gradient(to bottom right, red 50%, blue 50%);}
 td.BY_square{background:linear-gradient(to bottom left, blue 50%, yellow 50%);}
 td.GY_square{background:linear-gradient(to bottom right, greenyellow 50%, yellow 50%);}
 td.MIX_square{ 
    border-left-color:    cyan;
    border-right: 20px solid red;
    border-bottom: 20px solid green;
    border-top: 20px solid blue;
 display: inline;
}

 IMG.piece{width: 2.1em; height: 2.1em;}
