#ludo_board td{width:30px; height:30px; border: solid black 1px; text-align:center;}

#ludo_board{border-collapse: collapse;}

 td.R_square {background-color: red;}
 td.G_square {background-color:greenyellow;}
 td.B_square{background-color: blue;}
 td.Y_square{background-color: yellow;}

 td.GR_square{background-color: black;}
 td.BR_square{background-color: aquamarine;}
 td.BY_square{background-color: blueviolet;}
 td.GY_square{background-color: brown;}
 td.MIX_square{background-color: antiquewhite;}
 IMG.piece{width: 2.1em; height: 2.1em;}