    /*-----navybox-----*/
  .navybox {
    position: relative;
    background: navy; /* Use 'background' instead of 'background-color' */
    padding: 20px;
    width: 100%; /* Set the width to 100% to extend from left to right */
    display: flex;
    justify-content: center; /* Center the content horizontally */
   
  }

  #playerName{
    position: absolute;
    left: 1%;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    color: lightgray;
  }

  #playerData{
    position: absolute;
    right: 0%;
    color: white;
  }

    /*-----finish navybox-----*/
  

    /*-----PageName-----*/

  #h1Name{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }

    /*-----Finish PageName-----*/

    /*-----Board-----*/

  #main_body {
    height: 70vh;
    border-collapse: collapse;
    background-image: url('/www/images/black-1072366_1920.jpg');
    border: solid black 1px;
    text-align: center;
    position: relative;
    display: flex; /* Added display: flex; */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
  }

   #ludo_board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  
  #main_body p{
    color: white;
    position: absolute;
    font-size: large;
  }

  #ui_Chat{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 15%;
    background-color: white;
    color: black;
  }
    /*-----Finish Board-----*/

    /*-----Form-----*/

  #form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-collapse: collapse;
    
  }

  #submit{
    width: 100%; /* Make the button as wide as the input fields */
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
  }

    /*-----Finish Form-----*/
  
    /*-----Buttton-----*/

  #gameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: relative;
    bottom: 5%;
    margin-right: 20px;
  }

  #ludo_reset{
    margin-right: 10px;
  }

    /*-----Finish Buttton-----*/

    /*-----Footer-----*/

  #footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    position: relative;
    bottom: 0%;
    color: white;
    background-color: navy;

  }

    /*-----Finish Media Query-----*/

    /*-----lobby-----*/
    
    #players {
      width: auto; /* Make the table fill its container */
      margin: 20px 0; /* Add some margin for better spacing */
      border-collapse: collapse; /* Collapse table borders */
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  #players-container {
    width: 100%;
    margin-bottom: 20px; /* Adjust the margin as needed */
  }

  #players_table {
      width: 100%;
      border-collapse: collapse;
  }

  #players_table th, #players_table td {
      padding: 12px;
      text-align: center;
      border: 1px solid #ddd;
  }

  #players_table th {
      background-color: #f2f2f2;
  }

  #players_table tr:hover {
      background-color: #f5f5f5;
  }

  #input-container {
      margin-top: 20px; /* Adjust the margin as needed */
  }

  #username,
  #pcolor,
  #ludo_login {
      margin: 5px;
  }

   /*-----finish lobby-----*/